<a href="https://colab.research.google.com/github/sonjoy1s/ML/blob/main/mod_7_prac_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Given two sets of friends from two people, find the mutual friends,
#unique friends of each, and the total number of unique friends.

set1 =set(input().split())
set2 = set(input().split())
mutual_friends = set1.intersection(set2) # intersection method diye common Ghula ber kora hoy

unique_to_set1 = set(set1 - mutual_friends) # common value badh deyar por koy value ache

unique_to_set2 = set(set2 - mutual_friends) # common value badh deyar por koy value ache

number_set = len(set1.union(set2)) # ei khane Union kore len ber korchi word er

print(f"Mutual friends: {mutual_friends}")
print(f"Unique to A: {unique_to_set1}")
print(f"Unique to B: {unique_to_set2}")
print(f"Total unique friends: {number_set}")

Rahim Karim Sakib Jamal
Sakib Jamal Rafiq Nadim
Mutual friends: {'Sakib', 'Jamal'}
Unique to A: {'Rahim', 'Karim'}
Unique to B: {'Rafiq', 'Nadim'}
Total unique friends: 6

In [11]:
words = list(input().split())
wordss = list(filter(lambda word : len(word) > 4, words))
print(wordss)

sun planet moon star universe
['planet', 'universe']

In [12]:
# Write a one-line Python expression using map(), filter(), and lambda that takes
#a list of integers and returns the squares of even numbers only.
nums = list(map(int, input().split()))
sq_of_even = list(map(lambda x: x**2, filter(lambda x: x % 2 == 0, nums)))
print(sq_of_even)

1 2 3 4 5 6
[4, 16, 36]

In [15]:
n = int(input())
students =[]
for i in range(n):
  data = input({i+1}).split()
  name = data[0].capitalize()
  mark = int(data[1])
  students.append(name,mark)
  student_num = sorted(students, key =lambda x:x[1],reverse=True)
  top_three = student_num[:3]
  for student in top_three:
    print(f"{student[0]} : {student[1]}")

 [("Rafi", 89), ("Sumi", 95), ("Hasan", 90), ("Nila", 75), ("Anik", 98)]

ValueError: invalid literal for int() with base 10: ' [("Rafi", 89), ("Sumi", 95), ("Hasan", 90), ("Nila", 75), ("Anik", 98)]'