In [ ]:
# --- DEMO: Slicing sequence ---
nums = [10, 20, 30, 40, 50, 60]
print(nums[1:4]) # middle slice
print(nums[-3:]) # last 3 stap saw
print(nums[::2]) # 2 step way
print(nums[::-1]) # reverse way
print(nums[:-3])

[20, 30, 40]
[40, 50, 60]
[10, 30, 50]
[60, 50, 40, 30, 20, 10]
[10, 20, 30]

In [ ]:
# Demo : Truthiness ---
samples = [0, 1, "", "text", [], [1], {}, {"k": 1}, None]
for item in samples:
  if item:
    print(repr(item), "→ Truthy")
  else:
    print(repr(item), "→ Falsy")
name = "jhon"
score = 95
print(f"{name} score {score}% (next : {score + 1}%)")

0 → Falsy
1 → Truthy
'' → Falsy
'text' → Truthy
[] → Falsy
[1] → Truthy
{} → Falsy
{'k': 1} → Truthy
None → Falsy
jhon score 95% (next : 96%)

In [3]:
data ={
  "user": {
      "name": "Alice",
      "id" : 123,
      "contract":{
          "email": ["alice@gmail.com" , "abc@gmail.com"],
          "phone":"5555-123"
      }
  },
  "item":[
      {"name": "Laptob", "price": 1200},
      {"name": "Keyboard", "price": 75}
  ]
}
print("User Name :", data["user"]["name"])
print("Frist Item Price :", data["item"][1]["price"])
print("User Email :", data["user"]["contract"]["email"][0])

User Name : Alice
Frist Item Price : 75
User Email : alice@gmail.com

In [7]:
# oder data
order_data = {
    "Customer" : {
        "frist_name": "Bob",
        "last_name": "Jhonson"
    },
    "item":[
        {"item_name": "Book",
         "price":25.4},
        {"item_name": "Notebook",
         "price":4.50},
        {"item_name": "Pen", "price":1.20}
    ]
}
full_name = f"{order_data['Customer']['frist_name']} {order_data['Customer']['last_name']}"
print("Customer Full Name :", full_name)
total_price = sum(item["price"] for item in order_data["item"])
print("Total Price :", total_price)
item_name = [item["item_name"] for item in order_data["item"]]
print("Item Name :", item_name)

Customer Full Name : Bob Jhonson
Total Price : 31.099999999999998
Item Name : ['Book', 'Notebook', 'Pen']

In [21]:
for i in range(10,51):
  if i == 0:
    label = "Zero"
  elif i % 2 == 0:
      label = "Even"
  else:
    label = "Odd"
  print(i, "->", label)

10 -> Even
11 -> Odd
12 -> Even
13 -> Odd
14 -> Even
15 -> Odd
16 -> Even
17 -> Odd
18 -> Even
19 -> Odd
20 -> Even
21 -> Odd
22 -> Even
23 -> Odd
24 -> Even
25 -> Odd
26 -> Even
27 -> Odd
28 -> Even
29 -> Odd
30 -> Even
31 -> Odd
32 -> Even
33 -> Odd
34 -> Even
35 -> Odd
36 -> Even
37 -> Odd
38 -> Even
39 -> Odd
40 -> Even
41 -> Odd
42 -> Even
43 -> Odd
44 -> Even
45 -> Odd
46 -> Even
47 -> Odd
48 -> Even
49 -> Odd
50 -> Even

In [25]:
for i in range(5):
  for j in range(5):
    print(i)
    print(j)

0
0
0
1
0
2
0
3
0
4
1
0
1
1
1
2
1
3
1
4
2
0
2
1
2
2
2
3
2
4
3
0
3
1
3
2
3
3
3
4
4
0
4
1
4
2
4
3
4
4

In [26]:
tmp =[35, 40, 28, 32, 30]
farhen =[item*(9/5)+32 for item in tmp] # all farhan
print(f"Frist{farhen}")
farhen1 =[item*(9/5)+32 for item in tmp if item % 2==0] # even num farhan
print(farhen1)
for item in tmp:
  print((9/5)+32)
  squares = [x**2 for x in range(6)] # way to 6 rang step 2
  evens = [x for x in range(20) if x % 2 ==0]
  squares_map = {x:x**2 for x in range(5)}
  unique_initials = {item[0].lower() for item in ["Alice ", "Bob", "Alex", "Beta"]} #convert lowercase 0 index if [1] it's 1 index
  print(f"squares : {squares}")
  print(f"evens : {evens}")
  print(f"squares_map : {squares_map}")
  print(f"unique_initials : {unique_initials}")

Frist[95.0, 104.0, 82.4, 89.6, 86.0]
[104.0, 82.4, 89.6, 86.0]
33.8
squares : [0, 1, 4, 9, 16, 25]
evens : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
squares_map : {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
unique_initials : {'b', 'a'}
33.8
squares : [0, 1, 4, 9, 16, 25]
evens : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
squares_map : {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
unique_initials : {'b', 'a'}
33.8
squares : [0, 1, 4, 9, 16, 25]
evens : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
squares_map : {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
unique_initials : {'b', 'a'}
33.8
squares : [0, 1, 4, 9, 16, 25]
evens : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
squares_map : {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
unique_initials : {'b', 'a'}
33.8
squares : [0, 1, 4, 9, 16, 25]
evens : [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
squares_map : {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
unique_initials : {'b', 'a'}

In [30]:
nasted_squares = [[x**2 for x in range (i , i+5) if x%2==0] for i in range (1, 10, 3)]
print("Nasted_square :", nasted_squares)

number_description = {
    num: ("even or odd" if num % 2 == 0 and num % 3 == 0
          else "even" if num % 2 == 0
          else "odd " if num % 3 == 0
          else "Odd")
    for num in range (1, 100)

}
print(number_description)

Nasted_square : [[4, 16], [16, 36, 64], [64, 100]]
{1: 'Odd', 2: 'even', 3: 'odd ', 4: 'even', 5: 'Odd', 6: 'even or odd', 7: 'Odd', 8: 'even', 9: 'odd ', 10: 'even', 11: 'Odd', 12: 'even or odd', 13: 'Odd', 14: 'even', 15: 'odd ', 16: 'even', 17: 'Odd', 18: 'even or odd', 19: 'Odd', 20: 'even', 21: 'odd ', 22: 'even', 23: 'Odd', 24: 'even or odd', 25: 'Odd', 26: 'even', 27: 'odd ', 28: 'even', 29: 'Odd', 30: 'even or odd', 31: 'Odd', 32: 'even', 33: 'odd ', 34: 'even', 35: 'Odd', 36: 'even or odd', 37: 'Odd', 38: 'even', 39: 'odd ', 40: 'even', 41: 'Odd', 42: 'even or odd', 43: 'Odd', 44: 'even', 45: 'odd ', 46: 'even', 47: 'Odd', 48: 'even or odd', 49: 'Odd', 50: 'even', 51: 'odd ', 52: 'even', 53: 'Odd', 54: 'even or odd', 55: 'Odd', 56: 'even', 57: 'odd ', 58: 'even', 59: 'Odd', 60: 'even or odd', 61: 'Odd', 62: 'even', 63: 'odd ', 64: 'even', 65: 'Odd', 66: 'even or odd', 67: 'Odd', 68: 'even', 69: 'odd ', 70: 'even', 71: 'Odd', 72: 'even or odd', 73: 'Odd', 74: 'even', 75: 'odd ', 76: 'even', 77: 'Odd', 78: 'even or odd', 79: 'Odd', 80: 'even', 81: 'odd ', 82: 'even', 83: 'Odd', 84: 'even or odd', 85: 'Odd', 86: 'even', 87: 'odd ', 88: 'even', 89: 'Odd', 90: 'even or odd', 91: 'Odd', 92: 'even', 93: 'odd ', 94: 'even', 95: 'Odd', 96: 'even or odd', 97: 'Odd', 98: 'even', 99: 'odd '}

In [43]:
users_data = [
    {"user_id": 1, "name": "Alice", "orders": [{"order_id": "A1", "amount": 150}, {"order_id": "A2", "amount": 200}]},
    {"user_id": 2, "name": "Bob", "orders": [{"order_id": "B1", "amount": 50}]},
    {"user_id": 3, "name": "Charlie", "orders": []}
]
print("calculated total amount spent by each user : ")
for user in users_data:
    total_spent = 0
    for order in user.get("orders", []): # Used .get() for safe access
        total_spent += order.get("amount", 0) # Used .get() for safe access
    print(f"{user.get('name', 'N/A')}: ${total_spent}")

    # Get a list of all order amount across all user using a loop
    all_order_amounts = [order.get("amount",0) for user in users_data for order in user.get("orders",[])]
    print("\nAll order amounts :", all_order_amounts)

    # created a dictionary mapping using user_id to the number of order a nasted comprehension
    order_count_per_user = {user["user_id"]: len(user.get("orders",[])) for user in users_data}
    print("\nOrder count per user :", order_count_per_user)

calculated total amount spent by each user :
Alice: $350

All order amounts : [150, 200, 50]

Order count per user : {1: 2, 2: 1, 3: 0}
Bob: $50

All order amounts : [150, 200, 50]

Order count per user : {1: 2, 2: 1, 3: 0}
Charlie: $0

All order amounts : [150, 200, 50]

Order count per user : {1: 2, 2: 1, 3: 0}

In [50]:
users_data =[
    {"user_id": 1, "name": "Alice", "orders": [{"order_id": "A1", "amount":150}, {"order_id": "A2", "amount":200}]},
    {"user_id": 2, "name": "Bob", "orders": [{"order_id": "B1", "amount": 50}]},
    {"user_id": 3, "name": "Charly", "orders": []}
]
print("Calculate and print the total amount spent by each user")
for user in users_data:
  total_spent = 0
for order in user.get("orders",[]):
   total_spent += order.get("amount",0)  # used safe access .get
   print(f"{user.get('name', 'N/A')}: ${total_spent}")

   # get a list of all oder amount across all user using loop
   all_order_amounts = [order.get("amount",0) for user in users_data for order in user.get("orders",[])]
   print("\nOrder amounts :", all_order_amounts)

   # Mapping using
   order_count_per_user = {user["user_id"]: len(user.get("orders",[])) for user in users_data}
   print("\nOrder count per user :", order_count_per_user)

Calculate and print the total amount spent by each user