<a href="https://colab.research.google.com/github/sonjoy1s/ML/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    # Filter for products that are both low_fats='Y' AND recyclable='Y'
    df = products[((products['low_fats'] == 'Y') & (products['recyclable'] == 'Y'))]
    return df[['product_id']]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (ipython-input-961906431.py, line 4)

In [7]:
import pandas as pd

def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
   df = pd.marge(person,address,on='personId', how='left')
   return df[['firstName', 'lastName','city','state']]

In [8]:
import pandas as pd

# Person table
person_data = [
    [1, 'Alice', 'Smith'],
    [2, 'Bob', 'Johnson'],
    [3, 'Charlie', 'Lee']
]
person = pd.DataFrame(person_data, columns=['personId', 'firstName', 'lastName'])

# Address table
address_data = [
    [1, 'New', 'NY'],
    [2, 'Delhi', 'DL']
]
address = pd.DataFrame(address_data, columns=['personId', 'city', 'state'])

In [9]:
result = pd.merge(person, address, on='personId', how='left')
print(result)

   personId firstName lastName   city state
0         1     Alice    Smith    New    NY
1         2       Bob  Johnson  Delhi    DL
2         3   Charlie      Lee    NaN   NaN

In [11]:
data = [
    [0, 'Y', 'N'],
    [1, 'Y', 'Y'],
    [2, 'N', 'Y'],
    [3, 'Y', 'Y'],
    [4, 'N', 'N']
]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable'])

print(products)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

1.Create a Pandas Series from the list [10, 20, 30, 40, 50]. Print the Series, its index, and data type. Then create a DataFrame with columns "Name", "Age", and "City" containing at least 4 rows of data.

In [15]:
import pandas as pd
lst = [10,20,30,40,50]
series = pd.Series(lst)
print(series)
series.index
print(type(series))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
data_dict ={
    'Namne':['Alice', 'Bob', 'Roy','Sonjoy'],
    'Age':[25,30,40,21],
    'City':['Mymensing','Khulna','Tangail','Dhaka']
}
df = pd.DataFrame(data_dict)
print(df)

    Namne  Age       City
0   Alice   25  Mymensing
1     Bob   30     Khulna
2     Roy   40    Tangail
3  Sonjoy   21      Dhaka

In [19]:
import numpy as np

def matrixmul(a:list[list[int|float]],
              b:list[list[int|float]])-> list[list[int|float]]:
              if np.array(a).shape[1] != np.array(b).shape[0]:
                  return -1
              else:
                  c = np.dot(np.array(a), np.array(b))
                  return c